.right-side {
  background-color: #dde4e6;
  flex-grow: 1;
  padding: 73px 117px;
}

.right-card {
  background-color: #27737d;
  border-radius: 30px;
  color: white;
  height: 514px;
  width: 435px;
}

.weather-categories {
  gap: 36px;
  display: flex;
  justify-content: center;
  padding-top: 43px;
}

.hours-of-day {
  display: flex;
  gap: 26px;
  justify-content: center;
  padding-top: 34px;
}

.location-name {
  font-size: 26px;
  color: #e8f1f2;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-weight: 200;
  line-height: 14px;
}

.location-country {
  font-size: 22px;
  color: #a8c6cb;
  width: 100%;
  text-align: center;
}

.current-time {
  font-size: 18px;
  color: #a8c6cb;
  width: 100%;
  text-align: center;
  padding-top: 2px;
}

.temperature {
  font-size: 130px;
  text-align: center;
  width: 100%;
  color: white;
  font-weight: 500;
  height: 135px;
}

.condition {
  font-size: 30px;
  color: #e8f1f2;
  font-weight: 200;
  width: 100%;
  text-align: center;
}

.weather-categories-title {
  font-size: 20px;
  color: #e8f1f2;
  text-align: center;
}

.weather-categories-value {
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-align: center;
}

.hours {
  font-size: 18px;
  color: #a8c6cb;
  text-align: center;
}

.degrees {
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
}
